<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3">
    <form-text-input
      icon="phosphorUser"
      placeholder="First Name"
      id="firstName"
      ariaLabel="First Name"
      [autocomplete]="AutocompleteType.GIVEN_NAME"/>
    <form-text-input
      icon="phosphorIdentificationCard"
      placeholder="Last Name"
      id="lastName"
      ariaLabel="Last Name"
      [autocomplete]="AutocompleteType.FAMILY_NAME"/>
    <form-text-input
      icon="phosphorAt"
      placeholder="Username"
      id="username"
      ariaLabel="Username"
      [autocomplete]="AutocompleteType.NICKNAME"/>
    <form-text-input
      icon="phosphorEnvelopeSimple"
      placeholder="Email"
      id="email"
      ariaLabel="Email"
      [autocomplete]="AutocompleteType.EMAIL"/>
    <form-password-input
      [autocomplete]="AutocompleteType.NEW_PASSWORD"/>
  </div>

  <status-message/>

  <div class="mt-3">
    <form-button label="Register"/>
  </div>
</form>
