<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3">
    <form-text-input
      icon="phosphorUser"
      placeholder="First Name"
      [id]="RegisterFormControlType.FIRST_NAME"
      ariaLabel="First Name"
      [formControl]="form.controls.firstName"
      [autocomplete]="AutocompleteType.GIVEN_NAME"/>
    <form-text-input
      icon="phosphorIdentificationCard"
      placeholder="Last Name"
      [id]="RegisterFormControlType.LAST_NAME"
      ariaLabel="Last Name"
      [formControl]="form.controls.lastName"
      [autocomplete]="AutocompleteType.FAMILY_NAME"/>
    <form-text-input
      icon="phosphorAt"
      placeholder="Username"
      [id]="RegisterFormControlType.USERNAME"
      ariaLabel="Username"
      [formControl]="form.controls.username"
      [autocomplete]="AutocompleteType.NICKNAME"/>
    <form-text-input
      icon="phosphorEnvelopeSimple"
      placeholder="Email"
      [id]="RegisterFormControlType.EMAIL"
      ariaLabel="Email"
      [formControl]="form.controls.email"
      [autocomplete]="AutocompleteType.EMAIL"/>
    <form-password-input
      [formControl]="form.controls.password"
      [autocomplete]="AutocompleteType.NEW_PASSWORD"/>
  </div>

  <status-message/>

  <div class="mt-3">
    <form-button label="Register"/>
  </div>
</form>
