<div class="bg-gray-100/10 h-110 aspect-square flex flex-col items-center justify-around mb-21 border-[0.01rem] border-black/15 rounded-3xl backdrop-filter
backdrop-blur-3xl shadow-xl shadow-black/25 saturate-120">

  <div class="flex flex-col items-center justify-center">
    <p class="text-4xl text-white/90">Vivaldi Bank</p>
    <p class="text-1xl text-white/90">Please log in</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <form-text-input></form-text-input>
    <form-password-input></form-password-input>
    <form-button label="Login"></form-button>
  </form>

  <div class="flex flex-col items-center justify-center">
    <p class="text-1xl text-white/90">Are you a new user?</p>
    <p class="text-1xl text-white/90 underline">Create a new account</p>
  </div>
</div>
