<div class="flex flex-col">
  <label class="sr-only" for="password">Password</label>
  <div class="flex h-12 items-center border-white/90 rounded-md px-5 border-[0.01rem]">
    <ng-icon
      aria-hidden="true"
      class="text-2xl"
      color="rgba(255,255,255,0.9)"
      name="phosphorLock"/>
    <input
      (blur)="onTouched()"
      (input)="onInput($event)"
      [autocomplete]="autocomplete"
      [class.ng-dirty]="IsInvalid"
      [class.ng-invalid]="IsInvalid"
      [disabled]="isDisabled"
      [type]="isPasswordVisible ? 'text' : 'password'"
      [value]="value"
      aria-label="Password"
      class="focus:outline-none font-[Quicksand] text-2xl px-2 text-white/90 placeholder-white/60 caret-white/90"
      id="password"
      placeholder="Password"/>
    <button
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="isPasswordVisible ? 'Hide Password' : 'Show Password'"
      class="flex items-center justify-center focus:outline-none focus-visible:ring focus-visible:ring-white/90 focus-visible:ring-offset-[0.01rem] rounded-md"
      type="button">
      <ng-icon
        [name]="isPasswordVisible ? 'phosphorEyeSlash' : 'phosphorEye'"
        aria-hidden="true"
        class="text-2xl"
        color="rgba(255,255,255,0.9)"/>
    </button>
  </div>
</div>
