<div
  class="bg-gray-100/10 w-110 h-auto aspect-square flex flex-col items-center justify-between pt-6 pb-6 mb-21 border-[0.01rem] border-black/15 rounded-3xl backdrop-filter backdrop-blur-3xl shadow-xl shadow-black/25 saturate-120  gap-5">
  <auth-header/>
  @switch (mode) {
    @case (AuthMode.TWO_FACTOR_AUTH_LOGIN) {
      <auth-subtitle [mode]="AuthMode.TWO_FACTOR_AUTH_LOGIN"/>
      <ng-icon color="rgba(255,255,255,0.9)" name="phosphorLockOpenLight" aria-hidden="true" class="text-7xl"/>
    }
    @case (AuthMode.TWO_FACTOR_AUTH_REGISTER) {
      <auth-subtitle [mode]="AuthMode.TWO_FACTOR_AUTH_REGISTER"/>
      <div class="bg-white p-2 border-[0.01rem] border-black/15 rounded-3xl">
        <qrcode elementType="svg" [margin]="2" [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'L'"></qrcode>
      </div>
    }
  }
  <totp-form [totpToken]="totpToken"></totp-form>
</div>
