<div class="flex h-12 items-center border-[0.01rem] rounded-md px-5 border-white/90">
  <ng-icon [name]="icon" aria-hidden="true" class="text-2xl" color="rgba(255,255,255,0.9)"/>
  <input
    TrimWhitespaces
    (blur)="onTouched()"
    (input)="onInput($event)"
    [attr.aria-label]="ariaLabel"
    [attr.autocomplete]="autocomplete"
    [class.ng-dirty]="IsInvalid"
    [class.ng-invalid]="IsInvalid"
    [disabled]="isDisabled"
    [id]="id"
    [placeholder]="placeholder"
    [value]="value"
    class="flex-1 focus:outline-none font-[Quicksand] text-2xl px-2 text-white/90 placeholder-white/60 caret-white/90"
    type="text"/>
</div>
