<div class="grid grid-cols-[25%_50%_25%] justify-center grid-rows-4 h-screen w-screen gap-5 p-5 px-10">
  <div
    class="row-span-2 h-full w-full bg-gray-100/10 flex flex-col items-center justify-between pt-6 pb-6 mb-21 border-[0.01rem] border-black/15 rounded-3xl backdrop-filter backdrop-blur-3xl shadow-xl shadow-black/25 saturate-120">
  </div>
  <div
    class="row-span-4 h-full w-full bg-gray-100/10 flex flex-col items-center justify-between pt-6 pb-6 mb-21 border-[0.01rem] border-black/15 rounded-3xl backdrop-filter backdrop-blur-3xl shadow-xl shadow-black/25 saturate-120">
    <p class="text-6xl text-white/90">Dashboard under construction!</p>
  </div>
  <div
    class="row-span-2 col-start-1 row-start-3 h-full w-full bg-gray-100/10 flex flex-col items-center justify-between pt-6 pb-6 mb-21 border-[0.01rem] border-black/15 rounded-3xl backdrop-filter backdrop-blur-3xl shadow-xl shadow-black/25 saturate-120">
  </div>
  <div
    class="row-span-4 col-start-3 row-start-1 h-full w-full bg-gray-100/10 flex flex-col items-center justify-end pt-6 pb-6 mb-21 border-[0.01rem] border-black/15 rounded-3xl backdrop-filter backdrop-blur-3xl shadow-xl shadow-black/25 saturate-120">
    <form (ngSubmit)="onSubmit()">
      <div class="mt-3">
        <form-button label="Logout"/>
      </div>
    </form>
  </div>
</div>
