@import "tailwindcss";

@font-face {
  font-family: Quicksand;
  src: url(/Quicksand.ttf) format("truetype");
}

@layer base {
  ::selection {
    @apply bg-white/90 text-black;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 0s 0s, color 0s 0s;
  transition-delay: calc(infinity * 1s);
}
